/*font-sizes
  h1 --> 35px desktop / 25px mobile 
  h2 --> 30px desktop / 20px mobile
  p/h3 --> 18px desktop / 16px mobile
*/

:where(.main_wrapper, .info_wrapper, .sub_info_wrapper) {
  padding: 2rem 0;
}

:where(.main_container, .info_container, .sub_info_container) {
  padding: 2rem;
}

header {
  background-image: url("./assets/img-normal/van.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  min-height: 60vh;
}

.form_header_container {
  background-color: var(--main-bg-color);
  width: clamp(30rem, 40vw, 60rem);
  max-height: 20rem;
}

/* .form_header_container form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  color: white;
}

.form_header_container form input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.main_container img {
  width: 100%;
  max-width: 50rem;
  height: auto;
  margin: 0 auto;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

.card_container {
  min-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.cardSwiper {
  height: 50rem;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

/* .cardName {
  background-color: var(--main-bg-color);
  color: var(--white-color);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .cardText {
    height: 40%;
    background-color: var(--white-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.hr_wrapper {
  width: 70%;
  padding: 4rem;
  margin: 0 auto;
}

hr {
  color: #eee;
}

.info_container img {
  border: 4rem solid var(--main-bg-color);
  border-radius: 100%;
  margin: 0 auto;
}

.sub_info_wrapper img {
  width: 100%;
  max-width: 35rem;
  height: auto;
  margin: 1rem 0;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

@media only screen and (min-width: 40em) {
  :is(.main_wrapper, .info_wrapper) {
    display: flex;
  }

  .main_wrapper {
    gap: 5rem;
    align-items: center;
  }

  .main_wrapper > * {
    flex: 1;
  }

  .main_container p {
    width: 90%;
    float: right;
  }

  .cardSwiper {
    width: 70%;
  }

  .info_container {
    width: 30%;
    margin: 0 auto;
  }

  .sub_info_wrapper {
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 5rem;
  }

  .sub_info_container:nth-child(1) {
    order: 2;
    align-self: center;
    justify-self: center;
  }

  .sub_info_container:nth-child(1) img {
    max-width: 45rem;
  }

  .sub_info_container:nth-child(2) {
    width: 90%;
    margin: 0 auto;
  }
}
