@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white-color: #fff;
  --main-bg-color: #0649a0;
  --second-bg-color: #237ca9;
  --whats-button-color: #68d567;
  --text-color: #363638;
  --button-bg-color: #ffdd57;
  --sub-nav-color: #eeeeee;
  --shadow-color: #4a4a4a;
  font-size: 20px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  /* outline: 1px solid red; */
  /* background-color: var(--main-bg-color); */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body {
  height: 100vh;
}

nav {
  height: 5rem;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
}

#nav_logo {
  justify-content: center;
  display: flex;
  width: 30vw;
  align-items: center;
}

#nav_logo img {
  height: auto;
  max-width: 50%;
}

nav ul {
  width: 60%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  justify-content: space-evenly;
}

nav ul li {
  padding: 5px;
}

nav ul li a {
  color: var(--white-color) !important;
  text-decoration: none;
  font-size: clamp(min(0.25rem, 0.5rem), 0.75rem, max(1.5rem, 2rem));
}

.underline_effect {
  --s: 0.1em; /* the thickness of the line */
  --c: var(--white-color); /* the color */

  color: var(--white-color);
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.underline_effect:hover {
  --_p: 100%;
}

.sub_nav {
  width: 100%;
  height: auto;
  background-color: var(--sub-nav-color);
  padding: 0.25rem;
  display: flex;
  align-items: center;
  font-size: clamp(min(0.25rem, 0.5rem), 0.75rem, max(1.5rem, 2rem));
  font-weight: 600;
}

.sub_nav_info {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-bg-color);
  opacity: 100%;
}

.sub_nav_info a {
  text-decoration: none;
  padding: 0.25rem;
}

.sub_nav_info img {
  width: 1rem;
  height: 1rem;
}

.sub_nav_info > a:hover {
  text-decoration: underline 2px;
  color: var(--second-bg-color);
}

.hero_section {
  background-image: url(./assets/van-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 70vh;
  filter: saturate(150%);
}

.section_homepage {
  height: auto;
  padding: 2rem;
}

.section_homepage h1,
.section_homepage h2 {
  text-align: center;
  padding: 0.25rem;
  font-size: clamp(min(0.75rem, 1rem), 1.5rem, max(1.75rem, 2rem)) !important;
}

.section_homepage_container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.box_container_section_homepage {
  width: 50%;
  padding: 2rem 1rem;
}

.box_container_section_homepage > p {
  text-align: justify;
  font-size: clamp(min(0.5rem, 0.75rem), 1rem, max(1.5rem, 2rem)) !important;
  width: 90%;
  margin: 0 auto;
}

.image_box_container_homepage {
  border-radius: 0.25rem;
  box-shadow: 0px 10px 12px var(--shadow-color);
  width: 70%;
  height: 30vh;
  margin: 0 auto;
}

.image_box_container_homepage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section_card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.section_card h2 {
  text-align: center;
  padding: 0.25rem;
  font-size: clamp(min(0.75rem, 1rem), 1.5rem, max(1.75rem, 2rem)) !important;
}

.card_container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
}

.cardSwiper {
  height: 20rem;
  width: 50%;
  filter: saturate(150%);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

.cardName {
  background-color: var(--main-bg-color);
  color: var(--white-color);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText {
  height: 40%;
  background-color: var(--white-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr_section {
  height: 40%;
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
}

.grid_homepage {
  padding: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    ". title ."
    "airport-transfer private-transfer transfer-algarve";
}

.grid-item-1 {
  grid-area: title;
  text-align: center;
}

.grid-item-2 {
  grid-area: airport-transfer;
  padding: 2rem;
}

.grid-item-3 {
  grid-area: private-transfer;
  padding: 2rem;
}

.grid-item-4 {
  grid-area: transfer-algarve;
  padding: 2rem;
}

.grid_circle {
  background-color: var(--main-bg-color);
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_title {
  text-align: center;
  padding: 20px;
}

.grid_text > h3 {
  text-align: justify;
  font-weight: 400;
  font-size: clamp(min(0.5rem, 0.75rem), 1rem, max(1.5rem, 2rem)) !important;
}

.box_container_section_homepage > h3 {
  text-align: justify;
  font-weight: 400;
  font-size: clamp(min(0.5rem, 0.75rem), 1rem, max(1.5rem, 2rem)) !important;
  width: 90%;
  margin: 0 auto;
}

.double_image_section_homepage {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

.double_image_section_homepage img {
  border-radius: 0.25rem;
  margin: 0.25rem;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 2rem);
  grid-template-areas:
    ". . . . . ."
    "logo logo information services followus contactus"
    "logo logo information services followus contactus"
    ". . information services followus contactus"
    ". . information services followus contactus"
    ". . information services followus contactus"
    ". . information services followus contactus"
    ". . information services followus contactus";
  padding: 2rem;
  background-color: var(--main-bg-color);
  justify-items: center;
  justify-content: center;
}

.grid-footer-item-1 {
  padding: 2rem;
  grid-area: logo;
}

.grid-footer-item-2 {
  padding: 2rem;
  grid-area: information;
}
.grid-footer-item-3 {
  padding: 2rem;
  grid-area: services;
}
.grid-footer-item-4 {
  padding: 2rem;
  grid-area: followus;
}
.grid-footer-item-5 {
  padding: 2rem;
  grid-area: contactus;
}

footer h2 {
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
}

footer li {
  list-style: none;
}

footer ul li a {
  color: var(--white-color) !important;
  text-decoration: none;
  font-size: clamp(min(0.25rem, 0.5rem), 0.75rem, max(1.5rem, 2rem));
}

.sub_footer {
  display: flex;
  background-color: var(--sub-nav-color);
  height: 2rem;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.sub_footer p {
  padding: 0 2rem;
  font-size: clamp(min(0.25rem, 0.5rem), 0.75rem, max(1.5rem, 2rem));
}

.sub_footer img {
  padding: 0 2rem;
  height: 90%;
}

/* .card {
  width: 20vw;
  height: 50vh;
  filter: saturate(150%);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}

.card:hover {
  transition: 1s;
  transform: translateY(-5px) scale(110%);
}

.card:hover .card-houver-text {
  opacity: 1;
}

.card-houver-text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 10px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */
