/*font-sizes
  h1 --> 35px desktop / 25px mobile 
  h2 --> 30px desktop / 20px mobile
  p/h3 --> 18px desktop / 16px mobile
*/

:where(.main_wrapper, .info_wrapper, .sub_info_wrapper) {
  padding: 2rem 0;
}

:where(.main_container, .info_container, .sub_info_container) {
  padding: 2rem;
}

header {
  background-image: url("./assets/img-normal/van.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

header form {
  background-color: rgba(6, 73, 160, 0.9);
  padding: 2rem;
  width: 100%;
}

.header_form_item {
  padding: 1rem;
}

header form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: 10%;
  height: 2rem;
}

.main_container img {
  width: 100%;
  max-width: 50rem;
  height: auto;
  margin: 0 auto;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

.card_container {
  min-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.cardSwiper {
  height: 50rem;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

/* .cardName {
  background-color: var(--main-bg-color);
  color: var(--white-color);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .cardText {
    height: 40%;
    background-color: var(--white-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.hr_wrapper {
  width: 70%;
  padding: 4rem;
  margin: 0 auto;
}

hr {
  color: #eee;
}

.info_container img {
  border: 4rem solid var(--main-bg-color);
  border-radius: 100%;
  margin: 0 auto;
}

.sub_info_wrapper img {
  width: 100%;
  max-width: 35rem;
  height: auto;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 12px var(--shadow-color);
}

@media only screen and (min-width: 40em) {
  :is(.main_wrapper, .info_wrapper) {
    display: flex;
  }

  header form {
    margin: 2rem;
  }

  header form {
    width: 40rem;
    border-radius: 1rem;
  }

  .main_wrapper {
    gap: 5rem;
    align-items: center;
  }

  .main_wrapper > * {
    flex: 1;
  }

  .main_container p {
    width: 90%;
    float: right;
  }

  .cardSwiper {
    width: 70%;
  }

  .info_container {
    width: 30%;
    margin: 0 auto;
  }

  .sub_info_wrapper {
    display: grid;
    grid-template-columns: 1fr 40vw;
    gap: 5rem;
  }

  .sub_info_container:nth-child(1) {
    order: 2;
    align-self: center;
    justify-self: center;
  }

  .sub_info_container:nth-child(1) img {
    max-width: 45rem;
  }

  .sub_info_container:nth-child(2) {
    width: 90%;
    margin: 0 auto;
  }
}

/* form {
  width: 70%;
  height: auto;
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 1rem;
  color: var(--white-color);
}

.form-grid-item {
  padding: 0.5rem;
}

.form-grid-item select,
.form-grid-item input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-grid-item button {
  width: 70%;
  background-color: var(--button-bg-color);
  border: var(--button-bg-color) 2px solid;
  color: var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 1vw, 1.25rem);
  font-weight: bold;
  text-align: center;
  height: 2rem;
}

.form-grid-item button:hover {
  background-color: var(--white-color);
}

.form-flex {
  display: flex;
  justify-content: space-between;
}

.form-flex-container {
  width: 25%;
}

.form-flex-container > label {
  width: 100%;
  color: var(--white-color);
  white-space: nowrap;
  font-size: clamp(0.6rem, 1vw, 1.25rem);
}
.form-flex-container > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.space_form {
  padding: 2rem;
}

.space_form h1 {
  text-align: center;
  font-size: clamp(0.75rem, 2vw, 1.75rem);
} */
